//
.BMapLib_SearchInfoWindow .BMapLib_bubble_title {
  padding-left: 15px;
  line-height: 32px;
  height: 32px;
  background-color: white;
  color:#333333 ;
  font-family:'Microsoft YaHei'
}
.BMapLib_SearchInfoWindow{
  border-radius:2px;
}
.BMapLib_SearchInfoWindow .BMapLib_bubble_tools div {
  background-color: rgba(0, 0, 0, 0);
}

.BMapLib_SearchInfoWindow .BMapLib_sendToPhone {
  background: none;
}
/*BaiduMap*/
.BMapLib_SearchInfoWindow .BMapLib_bubble_close{
  background:url('/static/imgs/map/iclose.png') no-repeat center center !important;
}
