html,body{
  .Paneldata,.PaneldataCgw,.Paneldatavideo,.PaneldataGrid,.Paneldataindex,.PaneldataOnlineList,.Paneldatavideo,.PaneldataStaticDust{
    //
    .el-tabs__nav{
      margin-left: 20px!important;
      .el-tabs__item{
        font-size: 16px!important;
        padding: 0 22px!important;
      }
    }
  }
  .Like-winter{
    //
    .el-tabs__nav{
      margin-left: 20px!important;
      .el-tabs__item{
        font-size: 12px!important;
        padding: 0 8px!important;
      }
    }
  }

}