html,body{
  .Paneldata,.PaneldataCgw,.Paneldatavideo,.PaneldataGrid,.Paneldataindex,.PaneldataOnlineList,.Paneldatavideo,.PaneldataStaticDust{
    //
    .el-tabs__nav{
      margin-left: 20px!important;
      .el-tabs__item{
        font-size: 16px!important;
        padding: 0 22px!important;
      }
    }
  }
  .Like-winter{
    //
    .el-tabs__item.is-active {
      color: #fff!important;
    }
    .el-tabs__nav{
      margin-left: 5px!important;
      .el-tabs__active-bar{
        height: 2px!important;
      }
      .el-tabs__item{
        height: 36px!important;
        line-height: 36px!important;
        font-size: 14px!important;
        padding: 0 8px!important;
      }
      :hover{
        color: #fff!important;
      }
    }
  }

}